<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>This app needs access to your location to demonstrate location services.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>This app needs access to your location to demonstrate location services.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>This app needs access to your microphone to demonstrate microphone permissions management.</string>
	<key>NSCameraUsageDescription</key>
	<string>This app needs access to your camera to demonstrate camera permissions management.</string>
	<key>NSContactsUsageDescription</key>
	<string>This app needs access to your contacts to demonstrate contacts permissions management.</string>
	<key>NSCalendarsUsageDescription</key>
	<string>This app needs access to your calendar to demonstrate calendar permissions management.</string>
	<key>NSRemindersUsageDescription</key>
	<string>This app needs access to your reminders to demonstrate reminders permissions management.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>This app needs access to your photo library to demonstrate photos permissions management.</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>This app needs access to speech recognition to demonstrate speech recognition permissions management.</string>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>This app needs access to Bluetooth to demonstrate Bluetooth permissions management.</string>
</dict>
</plist>
