# Xcode user-specific files
**/xcuserdata/**/xcdebugger/Breakpoints_v2.xcbkptlist
LibertyAccessControl.xcodeproj/xcshareddata/
LibertyAccessControl.xcodeproj/xcuserdata/nathanvisser.xcuserdatad/xcschemes/xcschememanagement.plist
LibertyAccessControl.xcodeproj/project.xcworkspace/xcuserdata/
LibertyAccessControl.xcodeproj/project.pbxproj

